<a href="https://colab.research.google.com/github/olyadiya/MA-intro-to-python/blob/main/class_1_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for _ in range(5):
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
digits = list(range(0,9))
even_numbers = list(range(0,21,2))
inversed = list(range(10, 1, -1))
print(digits, even_numbers, inversed)

[0, 1, 2, 3, 4, 5, 6, 7, 8] [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20] [10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
words = ['apple', 'banana', 'cherry', 'date', 'fig', 'grape']
for i in range(len(words)):
    if "a" in words[i]:
        words[i] = "FOUND"

print(words)

['FOUND', 'FOUND', 'cherry', 'FOUND', 'fig', 'FOUND']

In [ ]:
products = ["ноутбук", "мышь", "клавиатура", "монитор"]
prices = [50000, 2500, 4000, 30000]
quantities = [8, 45, 25, 12]
final_results = []
for i in range(len(products)):
    final = prices[i] * quantities[i]
    final_results.append(final)
max_index = final_results.index(max(final_results))

print("Выручка по каждому товару:", final_results)
print("Товар с максимальной выручкой:", products[max_index])
print("Максимальная выручка:", final_results[max_index])

Выручка по каждому товару: [400000, 112500, 100000, 360000]
Товар с максимальной выручкой: ноутбук
Максимальная выручка: 400000

In [ ]:
products = ['телефон', "планшет", "ноутбук", "наушники"]
prices = [30000, 45000, 4000, 30000]
quantities = [8, 45, 25, 12]
total_for_each = [0,0,0,0]

for i in range(len(total_for_each)):
    total_for_each[i] = prices[i] * quantities[i]
    print(f"{products[i]}: {total_for_each[i]} руб.")
print(f"Товар с максимальной выручкой: {max(total_for_each)} руб.")

телефон: 240000 руб.
планшет: 2025000 руб.
ноутбук: 100000 руб.
наушники: 360000 руб.
Товар с максимальной выручкой: 2025000 руб.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for i, product in enumerate (fruits, start = 1):
  print(f"{i} - {product}")

1 - apple
2 - banana
3 - cherry

In [ ]:
list_even = [x for x in range(21) if x % 2 == 0]
list_even_2 = list(range(0, 21, 2))
print(list_even)
print(list_even_2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
words = ['cat', 'elephant', 'dog', 'butterfly', 'ox']
new_list = [word for word in words if len(word) >= 4 ]
print(f"Список слов длиннее 4 символов: {new_list}")

Список слов длиннее 4 символов: ['elephant', 'butterfly']