<a href="https://colab.research.google.com/github/olyadiya/MA-intro-to-python/blob/main/list_comprehension_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
numbers = []
while True:
    user_input = input("Введите числа2: ")
    input_list = user_input.split()
    filtered_numbers = []
    for item in input_list:
        try:
            num = int(item)
            if num >= 0:
                filtered_numbers.append(num)
        except ValueError:
            continue
    numbers.extend(filtered_numbers)
    if '0' in input_list:
        break
print(f"список чисел: {numbers}")

Введите числа: 7
Введите числа: -8
Введите числа: 34
Введите числа: 76
Введите числа: 89
Введите числа: 100
Введите числа: 1
Введите числа: 34
Введите числа: 0
список чисел: [7, 34, 76, 89, 100, 1, 34, 0]

In [3]:
celsius = [0, 15, 25, 30, 40, 100]

fahrenheit = [(c * 9/5 + 32) for c in celsius]

print(f"Температура в Цельсиях: {celsius}")
print(f"Температура в Фаренгейтах: {fahrenheit}")

Температура в Цельсиях: [0, 15, 25, 30, 40, 100]
Температура в Фаренгейтах: [32.0, 59.0, 77.0, 86.0, 104.0, 212.0]

In [5]:
grades = [45, 85, 92, 33, 67, 78, 90, 55, 29, 88]
passed = [grade for grade in grades if grade >= 60]
print(f"Сданные экзамены: {passed}")

Сданные экзамены: [85, 92, 67, 78, 90, 88]

In [7]:
transactions = [100, -50, 200, -30, 150, -20, 300]
taxes = [amount * 0.15 for amount in transactions if amount > 0]
print(f"Налоги: {taxes}")

Налоги: [15.0, 30.0, 22.5, 45.0]

In [9]:
products = ['футболка', 'кружка', 'блокнот']
colors = ['красный', 'синий', 'зеленый']
combinations = [f"{product} {color}" for product in products for color in colors]

print("Все комбинации товаров и цветов:")
for combo in combinations:
    print(combo)

Все комбинации товаров и цветов:
футболка красный
футболка синий
футболка зеленый
кружка красный
кружка синий
кружка зеленый
блокнот красный
блокнот синий
блокнот зеленый

In [10]:
employees = [('Иван', 45), ('Мария', 92), ('Петр', 33), ('Анна', 67)]
performance = [
    "Отлично" if percent >= 90
    else "Хорошо" if percent >= 60
    else "Требует улучшения"
    for _, percent in employees
]
for i, (name, percent) in enumerate(employees):
    print(f"{name}: {percent}% - {performance[i]}")

Иван: 45% - Требует улучшения
Мария: 92% - Отлично
Петр: 33% - Требует улучшения
Анна: 67% - Хорошо

In [12]:
sales = [
    {'name': 'Алексей', 'sales': 150, 'returns': 10},
    {'name': 'Ольга', 'sales': 200, 'returns': 5},
    {'name': 'Дмитрий', 'sales': 80, 'returns': 25},
    {'name': 'Елена', 'sales': 300, 'returns': 8}
]

top_of_the_top = [
    manager['name']
    for manager in sales
    if (manager['sales'] - manager['returns']) >= 150
    and (manager['returns'] / manager['sales'] * 100) < 10
]
for manager in top_of_the_top:
    print(f"Топ-менеджер {manager}")

Топ-менеджер Ольга
Топ-менеджер Елена